<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296448643062-ro1m046kt3878vmcu1e4kgpi349bqqf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296448643062-ro1m046kt3878vmcu1e4kgpi349bqqf1</string>
	<key>API_KEY</key>
	<string>AIzaSyC16Vwkamc5vK1RTPR6ePsgNzEzoY1bCng</string>
	<key>GCM_SENDER_ID</key>
	<string>296448643062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirstapp</string>
	<key>PROJECT_ID</key>
	<string>airquality-ad334</string>
	<key>STORAGE_BUCKET</key>
	<string>airquality-ad334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296448643062:ios:32f9e1b7a2dacc150a41d7</string>
	<key>DATABASE_URL</key>
	<string>https://airquality-ad334-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>